<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
  <link rel="stylesheet" type="text/css" href={% static "CSS/TimelineChantier.css" %}>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
  <div class="calendar-container">
    <div class="calendar-header">
      <h1>
         Prologe
      </h1>
      <div class="command">
          <div class="ajout">
              <a href="{% url 'Chantier_new' %}"><button class="btn-ajout" ><i class="fas fa-plus-circle"></i> Nouveau Chantier</button></a>
          </div>
          <div class="Time-Selector">
              <a class="btn-list">Aujourd'hui</a>
              <a class="btn-list">Janv-Mars</a>
              <a class="btn-list">Avril-Juin</a>
              <a class="btn-list">Juillet-Septembre</a>
              <a class="btn-list">Octobre-Décembre</a>
          </div>
          <div class="legend">
              <i class="fas fa-square Legend-NotStart"></i><p>Pas commencé</p>
              <i class="fas fa-square Legend-Progress"></i><p>En cours</p>
              <i class="fas fa-square Legend-Finish"></i><p>Fin</p>
          </div>
      </div>>
    </div>
    {% for chantier in chantier_list %}
        <div class="calendar"><span class="chantier-name">Chantier</span><span class="chantier-name2"></span><span class="chantier-name2"></span>
          {% if WeekList %}
            {% for week in WeekList %}
                <span class="day-name">{{week.0|date:"d/m"}} - {{week.1|date:"d/m"}}</span>
            {% endfor %}
          {% endif %}
          {% if chantier %}
            {% for chant in chantier %}
                {% if chant.acheteurList %}
                    {% for A in chant.acheteurList %}
                        {% if forloop.last %}
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item" style="border-bottom: 3px solid black;"><data value="{{ chant.self.id }}"></data></div>
                        {% else %}
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                          <div class="item"><data value="{{ chant.self.id }}"></data></div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                      <div class="item"><data value="{{ chant.self.id }}"></data></div>
                {% endif %}
            {% endfor %}
            {% for chant in chantier %}
              <div class="chantier"  style="grid-row: {{ chant.row.0 }}/{{ chant.row.1 }};"><h2>{{chant.self.Name}}<a href="{% url 'Chantier_Modif' chant_id=chant.self.id%}"><i class="fas fa-edit"></i></a></h2>
                  <div class="chantier-detail">
                    <div class="Acheteur-list">
                        <h4>Acheteur : </h4>
                        {% for A in chant.acheteur %}
                            <p><i class="fas fa-caret-right"></i> {{ A.0 }}</p>
                        {% endfor %}
                    </div>
                    <p>Début: {{chant.self.Date_debut|date:"d/m/Y"}}</p>
                    <p>Objectif: {{chant.self.Date_fin|date:"d/m/Y"}}</p>
                  </div>
              </div>
            {% for A in chant.acheteurList %}
                {% if forloop.last %}
                    <div class="phase-indicator" style="grid-row: {{chant.row.0|add:A.num}}; border-bottom: 3px solid black; ">
                        <p>{{ A.self.FirstName }}</p>
                    </div>
                {% else %}
                    <div class="phase-indicator" style="grid-row: {{chant.row.0|add:A.num}};">
                        <p>{{ A.self.FirstName }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            {% for A in chant.acheteurList %}
                {% for task in A.timeline.taskList %}
                  <section value="{{ chant.Name }}" id="phase-{{ task.phase.id}}" class="task {{task.line}} {{task.state}}" style="grid-row: {{chant.row.0|add:A.num}};grid-column: {{task.column}}">
                    <p class="task_text">{{task.phase.Name}}</p>
                    <div style="display: none;" class="task__detail">
                        <h2>Date début : {{ task.phase.Date_debut|date:"d/m/Y" }}</h2>
                        <h2>objectif : {{ task.phase.Deadline|date:"d/m/Y"}}</h2>
                        <span><i class="fas fa-caret-right"></i></span>
                    </div>
                  </section>
              {% endfor %}
            {% endfor %}

                 <section class="task-separator" style="grid-row:2;grid-column: 7/11"></section>
            {% endfor %}
          {% comment %}<section style="grid-row:4;" class="time-indicator"></section>{% endcomment %}
          {% endif %}
        </div>
        </div>
    {% endfor %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src={% static "JS/TimelineChantApp.js" %}></script>
</body>
</html>