<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <link rel="stylesheet" type="text/css" href={% static "CSS/timelineAcheteur5.css" %}>
    <link rel="stylesheet" type="text/css" href={% static 'vendor/bootstrap/css/bootstrap.min.css' %}>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
  <div class="calendar-container">
    <div class="calendar-header">
      <h1>
         Prologe
      </h1>
      <div class="command">
          <div class="ajout">
              <a href="{% url 'Chantier_new' %}"><button class="btn-ajout" ><i class="fas fa-plus-circle"></i> Nouvelle acheteur</button></a>
          </div>
          <div class="Time-Selector">
              <a class="btn-list" href="{% url 'SetDateTimelineAchat' Data='-3' %}"><i class="fas fa-angle-double-left"></i></a>
              <a class="btn-list" href="{% url 'SetDateTimelineAchat' Data='-1' %}"><i class="fas fa-chevron-left"></i></a>
              <a class="btn-list" href="{% url 'SetDateTimelineAchat' Data='0' %}">Aujourd'hui</a>
              <a class="btn-list" href="{% url 'SetDateTimelineAchat' Data='1' %}"><i class="fas fa-chevron-right"></i></a>
              <a class="btn-list" href="{% url 'SetDateTimelineAchat' Data='3' %}"><i class="fas fa-angle-double-right"></i></a>
          </div>
          <div class="legend">
              <i class="fas fa-square Legend-NotStart"></i><p>Pas commencé</p>
              <i class="fas fa-square Legend-Progress"></i><p>En cours</p>
              <i class="fas fa-square Legend-Finish"></i><p>Fin</p>
          </div>
      </div>
    </div>
    {% for acheteur in acheteurList %}
        <div class="calendar"><span class="chantier-name">Acheteur</span><span class="chantier-name2"></span><span class="chantier-name2"></span>
          {% if WeekList %}
            {% for week in WeekList %}
                <span class="day-name">{{week.0|date:"d/m"}} - {{week.1|date:"d/m"}}</span>
            {% endfor %}
          {% endif %}
          {% if acheteur %}
            {% for A in acheteur %}
                  {% if A.chantierList %}
                      {% for chant in A.chantierList %}
                          {% if forloop.last %}
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                            <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                          {% else %}
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                            <div class="item"><data value="{{ A.self.id }}"></data></div>
                          {% endif %}
                      {% endfor %}
                  {% else %}
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                    <div class="item border-separator"><data value="{{ A.self.id }}"></data></div>
                  {% endif %}
            {% endfor %}
            {% for A in acheteur %}
                <div class="chantier"  style="grid-row: {{A.row.0}}/{{ A.row.1}};"><h2>{{A.self.FirstName}}<a href="à compléter"><i class="fas fa-edit"></i></a></h2>
                    <div class="chantier-detail">

                    </div>
                </div>
                {% for chant in A.chantierList %}
                    <div class="phase-indicator" style="grid-row: {{A.row.0|add:chant.num}};">
                        <p>{{ chant.self.Name }}</p>
                    </div>
                {% endfor %}
                {% for chant in A.chantierList %}
                    {% for task in chant.timeline.taskList %}
                      <section id="phase-{{ task.phase.id}}" class="task {{task.line}} {{task.state}}" style="grid-row: {{A.row.0|add:chant.num}};grid-column: {{task.column}}">
                        <data value="{{ A.self.id }}"></data>
                        <div class="tb">
                            <p class="task_text">{{task.phase.Name}}</p>
                        </div>
                        <div style="display: none;" class="form-taskContainer">
                            <i class="fas fa-times exit"></i>
                            <span><i class="fas fa-caret-up"></i></span>
                            <form method="POST">
                                <data value="{{ task.phase.id }}"></data>
                                <div class="form-row">
                                     <div class="form-group col-md-6">
                                         <label for="inputName">Nom :</label>
                                         <input type="text" name="inputName" placeholder="Nom" value="{{ task.phase.Name }}" class="form-control" maxlength="100" id="id_inputName">
                                     </div>
                                     <div class="form-group col-md-6">
                                        <label for="inputState">Etat :</label>
                                        <select name="inputState" class="form-control selectCustom" id="id_inputState">
                                          <option value="0"{% if task.phase.State == "0" %} selected {% endif %}>Pas commencé</option>
                                          <option value="1"{% if task.phase.State == "1" %} selected {% endif %}>En cours</option>
                                          <option value="2"{% if task.phase.State == "2" %} selected {% endif %}>Fini</option>
                                        </select>
                                     </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputDebut">Date début :</label>
                                        <input type="date" name="inputDebut" placeholder="début" value="{{ task.phase.Date_debut|date:"Y-m-d" }}" class="form-control" maxlength="100" id="id_inputDebut">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputObjectif">Date Objectif :</label>
                                        <input type="date" name="inputObjectif" placeholder="Objectif" value="{{ task.phase.Deadline|date:"Y-m-d" }}" class="form-control" maxlength="100" id="id_inputObjectif">
                                    </div>
                                </div>
                                <h4>Acheteur :</h4>
                                <div class="row justify-content-center">
                                <div class=" col-9 form-row ">
                                {% if responsableList %}
                                    {% for R in responsableList %}
                                         <div class="form-check col-md-4 check">
                                         {% if R in task.phase.id_Responsable.all %}
                                             <input class="form-check-input" id="Resp{{R.id}}" value="{{R.id}}" type="checkbox" name="Resp" checked>
                                         {% else %}
                                             <input class="form-check-input" id="Resp{{R.id}}" value="{{R.id}}" type="checkbox" name="Resp">
                                         {% endif %}
                                          <label class="form-check-label" for="Resp{{R.id}}">
                                            {{R.FirstName}}
                                          </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                                <div class="form-row">
                                <a class="btn btn-secondary btn-list" >retour</a>
                                <button type="submit" href="{% url 'Phase_save' task.phase.id %}" class="btn btn-primary btn-list">Enregister</button>
                                 <a class="btn btn-danger btn-list" href="{% url 'Phase_delete' task.phase.id %}">Supprimer</a>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                      </section>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
          {% endif %}
        </div>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="{% static "JS/TimelineAcheteurApp.js" %}"></script>
    <script>
        (function ($) {
            $(function() { // cette ligne est équivalente à $(document).ready(function(){})
               $(".form-taskContainer").each(function () {
                   $(this).children(".exit").click(function () {//quand la souris passe sur l'element
                       $(this).parent().hide(400);// permet de cacher des éléments a l'aide de sélecteur (les mêmes quand css)
                   });
               });
               $(".task").each(function () {
                   $(this).click(function () {//quand la souris passe sur l'element
                       $(this).children(".form-taskContainer").show(); // permet de cacher des éléments a l'aide de sélecteur (les mêmes quand css)
                   });
               });
               $(".btn-secondary").each(function () {
                   $(this).click(function () {//quand la souris passe sur l'element
                       $(this).parent().parent().parent().hide(400); // permet de cacher des éléments a l'aide de sélecteur (les mêmes quand css)
                   });
               });
               $("form").each(function () {
                   $(this).submit(function(e){
                       e.preventDefault();
                       const phase_id = $(this).children("data").attr('value');
                       const form_url = "../../../../Phase/Save" + phase_id + "/";
                       var form_method = $(this).attr("method");
                       var form_data = $(this).serialize();
                       console.log(form_data);
                       $.ajax({
                           url : form_url,
                           type : form_method,
                           data : form_data
                       });

                       setTimeout(function(){ location.reload(true); }, 100);
                   });
               });

               var itemWidth = $(".item").width() + 5;

               $(".task").resizable({
                  handles: "e, w",
                  grid: [ itemWidth , 10 ],
                  stop: resizeStop,
               });

               function resizeStop(event, ui){
                   var deltaWidth = Math.round((ui.size.width - ui.originalSize.width)/itemWidth);
                   var deltaLeft = Math.round((ui.position.left - ui.originalPosition.left)/itemWidth);
                   var ID = ui.element.attr('id');
                   const jsonString = 'deltaWidth=' + deltaWidth + '&deltaLeft=' + deltaLeft + "&ID=" + ID;
                    $.ajax({
                       type: "POST",
                       data: jsonString,
                       dataType : "html",
                       url: "../../../../ResizeTask/"
                   });
                   setTimeout(function(){ location.reload(true); }, 100);
               }
            });

        })(jQuery);
    </script>
</body>
</html>>